/***********
color dcleam #FEF5EC; cleam #FFF0E0; gold #B1963B; wgray #FEFEFE; gray #666666;
***********/

  /************
  faundation
  ************/

  /** 
  * reset
  **/
  body, .site {
    /*opacity: 0;*/
    background-color: white !important;
  }
  * {
    color: #333;
  }
  body, div, p, span, input, textarea, ul, li, ol, a {
    font-size: 14px;
  }
  ul li, ol li {
    list-style-type: none;
  }
  .container, .keyBig, .l-wrapper {
    max-width: 1230px;
    width: 100%;
  }
  a {
    opacity: 1;
    transition: .3s opacity ease;
    color: #6D5458;
  }
  a:hover {
    opacity: .7;
    transition: .3s opacity ease;
    color: #6D5458;
  }
  img {
    width: 100%;
  }
  .visible-phone {
    display: none;
  }
  .hidden-phone {
    display: block;
  }
  .visible-desktop {
    display: block;    
  }
  .hidden-desktop {
    display: none;
  }
  input, textarea, button {
    outline: none;
  }
  .txt-center {
    text-align: center;
  }
  figure {
    margin: 0;
  }
  /**
  * layout
  **/
  .full-container .container {
    width: 100%;
    max-width: none;
  }
  @media only screen and (max-width: 1230px) {
    .container, .keyBig, .l-wrapper {
      width: calc( 100% - 30px );
    }
  }
  @media only screen and (max-width: 991px) {
    .visible-desktop {
      display: none;    
    }
    .hidden-desktop {
      display: block;
    }
  }
  @media only screen and (max-width: 767px) {
    .l-wrapper {
      margin: 15px !important;
    }
    .visible-phone {
      display: block;
    }
    .hidden-phone {
      display: none;
    }
  }
  /**
  * conponents
  **/

  /**
  * table
  **/
  .wp-block-table table {
    border: 0px solid #cccccc;
    border-top-width: 1px;
  }
  .wp-block-table table tr {
    border: 0px solid #cccccc;
    border-bottom-width: 1px;
    background-color: white;
  }
  #primary .post .entry-content table tbody tr:nth-child(2n),
  #primary .page .entry-content table tbody tr:nth-child(2n) {
    background: white;
  }
  /**
  * widget
  **/
  .widget ul li a:hover {
    color: #6D5458;
  }
  .widget .widget-title:after {
    width: 100%;
  }

  /**
  * card
  **/
  .edit-link {
    display: none;
  }

  /**
  * btn
  **/
  .btn-purple {
    font-size: 15px;
    line-height: 51px;
    height: 51px;
    background: #6D5458;
    color: #ffffff !important;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    padding: 0 22px;
    font-family: 'Lato', sans-serif;
    width: 300px;
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    .btn-purple {
      width: 100%;
    }
  }


  /**
  * search
  **/
  .search .search-form {
    width : 100%;
  }

  /**
  * header
  **/
  .header-inner {
    background-color: #6D5458;
    padding: 10px 0;
  }
  .header-inner * {
    color: white;
    display: flex;
    flex-wrap: wrap;
  }
  .main-navigation {
    float: none;
    align-items: center;
    margin-left: auto;
    position: relative;
  }
  .main-navigation ul li {
    margin-left: 30px;
  }
  .main-navigation ul li a {
    padding: 0;
  }
  .main-navigation ul li a:after {
    content: '▼';
    margin: 0 0 0 5px;
  }
  .main-navigation .current_page_item>a,
  .main-navigation .current-menu-item>a,
  .main-navigation .current_page_ancestor>a,
  .main-navigation .current-menu-ancestor>a {
    color: white;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
  }
  .main-navigation ul li a:hover,
  .main-navigation ul li a:focus,
  .main-navigation ul li:hover>a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
  .main-navigation ul:after {
    content: none;
  }

  @media only screen and (max-width: 767px) {
    .header-inner {
      height: 80px;
    }
  }

  /**
  * footer
  **/
  .site-footer {
    background-color: #6D5458;
  }
  .site-footer * {
    color: white;
  }

  /**
  * top
  **/
  #primary.index-page {
    width : 100%;
  }
  #primary.index-page #mainvisual {
    width: 100%;
  }
  #primary.index-page main.site-main {
    display: flex;
    flex-wrap: wrap;
  }
  #primary.index-page main.site-main article {
    width: calc(100% / 6);
    margin: 0;
    padding: 0;
  }
  #primary.index-page main.site-main article a {
    margin: 0;
  }
  #primary.index-page main.site-main article .post-thumbnail {
    height: auto;
  }
  /**
  * detail
  **/
  .comment-form input[type="submit"]:hover,
  .comment-form input[type="submit"] {
    background-color: #6D5458;
  }
  /**
  * archive-page
  **/
  #primary.archive-page .post .entry-header {
    width: 100%;
    order: 2;
  }
  #primary.archive-page .post .entry-header .entry-title {
    margin: 0 0 10px;
    line-height: 1;
  }
  #primary.archive-page .site-main {
    display: flex;
    flex-wrap: wrap;
  }
  #primary.archive-page .page-header {
    width: 100%;
  }
  #primary.archive-page .page-title {
    font-size: 24px;    
  }
  #primary.archive-page .page-title span {
    font-size: 24px;
    margin: 0 0 0 5px;
  }
  #primary.archive-page .post .post-thumbnail,
  #primary.archive-page .page .post-thumbnail {
    display: block;
    height: auto;
    margin: 0 0 10px;
    order: 1;
  }
  #primary.archive-page .post .entry-meta {
    margin: 5px;
  }
  #primary.archive-page .site-main article {
    width: calc(50% - 10px);
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
  }
  #primary.archive-page .site-main article p {
    margin-bottom: 0.5em;
  }
  #primary.archive-page .site-main .entry-content {
    width : 100%;
    order: 3;
  }
  #primary.archive-page .site-main .entry-footer {
    order: 4;
  }
  #primary.archive-page  .post .entry-header .entry-title a:hover {
    color: #6D5458;
  }
  /**
  * owner page
  **/
  .owner_message {
    margin: 50px 0;
  }
